@import 'themes/global.scss';

.PlayerSalariesView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__card {
    margin: 1rem;
    overflow-y: hidden;
  }

  &__tableCell {
    padding: 0.5rem;
  }

  &__playerInfo {
    display: flex;
    align-items: center;
  }

  &__playerName {
    font-weight: bold;
    margin-left: 0.5rem;
  }

  &__tableCell__avatar {
    width: 2rem !important;
    height: 2rem !important;
  }

  &__searchItems {
    margin-left: 1rem;

    &__searchInput {
      width: 40%;
    }
  }
}