@import 'themes/global.scss';

.login-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__image {
    max-height: calc(100vh - 4.3rem);
    object-fit: cover;

    @include mediaDown('lg'){
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__title {
    padding-bottom: 2rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    .MuiTextField-root {
      margin-bottom: 1rem;
    }

    .MuiButton-root {
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__divider{
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px;
  }

  &__register-link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}