@import 'themes/global.scss';

.FeatureCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__featuresSection{


    &__featureCardMedia{
      height: 6rem;
      width: 100%;
    }


  }
}
