@import 'themes/global.scss';

.TeamPerformanceView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__card {
    margin: 1rem;
    overflow-y: hidden;
  }

  &__tableCell {
    display: flex;
    align-items: start;
    flex-direction: row;

    &__avatar {
      width: 2rem !important;
      height: 2rem !important;
      margin-right: 0.5rem;
    }
  }

  &__searchItems {
    margin-left: 1rem;

    &__searchInput {
      width: 40%;
    }
  }
}
