@import 'themes/global.scss';

.defaultLayout {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;

  &__content {
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: row;
    display: flex;

    &__navColumn{
      width: 20vw;
      position: fixed;
      height: 100vh;
    }

    &__mainContent{
      width: 80vw;
      flex: 1;
      padding-left: 15vw;
      display: flex;
      flex-direction: column;
    }
  }
}
