@import 'themes/global.scss';

.defaultLayout {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;

  &__content {
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: row;
    display: flex;

    &__navColumn{
      position: sticky;
      top: 9%;
      height: 100vh;
    }
  }
}
