# Node modules
node_modules
/node_modules
node_modules/
node_modules/**/*

# Environment secrets
.env

# Logs
*.log
logs

# Build directory
dist
build

# Editor directories and files
.vscode
.idea

# Docker
Dockerfile*
compose*
compose*
.dockerignore

# Git
.git
.gitignore